@{
    ViewData["Title"] = "Home Page";
}

@section pic{
    <style type="text/css">
         body {
            background-image: url('/assets/img/backbround.jpg');
            margin: 0;
            background-repeat:no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
}

<head ></head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
   @* <a class="btn btn-outline-primary" asp-action="Index" asp-controller="University"> go to universities </a>
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="College"> go to Colleges </a>
*@

</div>
