@{
    ViewData["Title"] = "Home Page";
}

@section HeadAdv{

    <h2>Advertisement</h2>
    <div>
        to add advertisement please contact us.
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="University"> go to university </a>

</div>
